<div class="grid">
    <div class="col-12 p-0">
        <div class="card admin-content m-0">
            <div class="flex flex-wrap column-gap-2 row-gap-6 pb-2 relative">
                <input type="text" class="w-full sm:w-auto p-inputtext-sm" pInputText placeholder="Tên"
                    [(ngModel)]="searchData.name" />
                <button pButton pRipple icon="pi pi-search" class="p-button-primary p-button-sm"
                    (click)="onSearch()"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary p-button-sm"
                    (click)="onClearSearch()"></button>
                <button pButton pRipple icon="pi pi-plus"
                    class="p-button-success p-button-sm absolute right-0 bottom-auto" (click)="onCreate()"
                    label="Thêm mới"></button>
            </div>

            <m-table [isLazyLoad]="true" [cols]="cols" [items]="rows" (selectRow)="selectItem($event)"
                [dataKey]="'id'" [customHeaderTemplate]="customHeaderTemplate" [customBodyTemplate]="customBodyTemplate"
                class="table-admin" [calcHeight]="303" (onPageChange)="onPageChange($event)"
                [totalRecords]="total" [loading]="loading"></m-table>
            <ng-template #customHeaderTemplate>
                <th >Tên</th>
                <th >Đơn vị</th>
                <th >Đường dùng</th>
                <th>Sử dụng</th>
                <th>Thực phẩm chức năng</th>
                <th class="flex c-center">Hành động</th>
            </ng-template>
            <ng-template #customBodyTemplate let-rowData>
                <td >{{ rowData.name }}</td>
                <td >{{ rowData.unit }}</td>
                <td >{{ rowData.route }}</td>
                <td >{{ rowData.usage }}</td>
                <td >{{ rowData.isFunctionalFoods ? 'Có' : 'Không' }}</td>
                <td  class="text-center flex justify-content-center" pFrozenColumn alignFrozen="right">
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-success p-button-xs mr-2"
                        (click)="onDelete(rowData)"></button>
                </td>
            </ng-template>
            <p-dialog [(visible)]="visibleImage">
                <img *ngIf="selectedImg" [src]="selectedImg" alt="Selected Image" />
            </p-dialog>
        </div>
    </div>
</div>
