<p>list-visit works!</p>
<div class="list-visit-content">
    <as-split *ngIf="layout" direction="horizontal">
        <as-split-area *ngIf="layout.columns[0].visible" [size]="layout.columns[0].size">
          <div class="heading-1" >
            <a class="visit-title" >
              <!-- <span style="font-size: 21px; color: #25b396; font-weight: 700">{{ newPatient.patientName }}</span> -->
              <span class="fs-18">
                <!-- - {{ newPatient.dob }},  - {{ newPatient.patientCode }} -->
              </span>
            </a>
        
          </div>
            <ng-container *ngTemplateOutlet="containerLeft"></ng-container>
        </as-split-area>
        <as-split-area *ngIf="layout.columns[1].visible" [size]="layout.columns[1].size">
            <ng-container *ngTemplateOutlet="containerRight"></ng-container>
        </as-split-area>
    </as-split>
</div>

  

    <ng-template pTemplate="content" #containerLeft>
      <p-tabView>
        <p-tabPanel header="Tab 1">
          <div class="h-full w-full worklist-container" direction="vertical" [formGroup]="patientForm">
            <div class="grid mx-0 p-1">
                <div class="field pb-0 col-6 pl-0 pr-2">
                    <input formControlName="patientName" pInputText type="text" placeholder="Tên bệnh nhân*"
                        class="w-full p-inputtext-sm text-base" />
                    <div class="m-error"
                        *ngIf="patientForm.controls['patientName'].invalid && patientForm.controls['patientName'].dirty">
                        *Tên bệnh nhân không được để trống
                    </div>
                </div>
                <div class="field pb-0 col-6 pl-2 pr-0">
                    <input formControlName="patientCode" pInputText type="text" placeholder="Mã bệnh nhân*"
                        class="w-full p-inputtext-sm text-base" />
                    <div class="m-error"
                        *ngIf="patientForm.controls['patientCode'].invalid && patientForm.controls['patientCode'].dirty">
                        *Mã bệnh nhân không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-0 pr-2" >
                    <p-dropdown formControlName="sex" optionLabel="label" optionValue="value" 
                        [options]="GENDERS" placeholder="Giới tính*" [showClear]="true"  [ngStyle]="{'width': '100%'}">
                    </p-dropdown>
                    <div class="m-error"
                        *ngIf="patientForm.controls['sex'].invalid && patientForm.controls['sex'].dirty">
                        *Giới tính không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-2">
                    <p-calendar formControlName="dob" placeholder="Năm sinh*"  [showIcon]="true"  [showOnFocus]="false"   inputId="buttondisplay" />

                    <div class="m-error"
                        *ngIf="patientForm.controls['dob'].invalid && patientForm.controls['dob'].dirty">
                        *Năm sinh không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-0 pr-0">
                    <input formControlName="phone" pInputText type="text" placeholder="Số điện thoại"
                        class="w-full p-inputtext-sm text-base" />
                </div>
                <div class="field py-0 col-12 pl-0 pr-0">
                    <input formControlName="address" pInputText type="text" placeholder="Địa chỉ"
                        class="w-full p-inputtext-sm text-base" />
                </div>
               
       
            </div>
            <div class="col-3 pr-0 pl-2 pb-0">
                <button pButton pRipple label="Thêm bệnh nhân" icon="pi pi-plus" class="bg-green-500 p-button-sm"
                  (click)="addPatient()"></button>
              </div>
        </div>
        </p-tabPanel>
        <p-tabPanel header="Tab 2">
          <div class="patient-info-container overflow-auto" [formGroup]="formAddVisit">
            <div class="grid mx-0 p-1">
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Lý do khám"
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <p-calendar class="w-full p-inputtext-sm text-base" formControlName="visitDate" [showTime]="true"
                  [showIcon]="true" appendTo="body" placeholder="Thời gian tạo*" [dateFormat]="'dd/mm/yy'"></p-calendar>
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitDate'].invalid && formAddVisit.controls['visitDate'].dirty">
                  <span>Bạn chưa nhập ngày khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Dịch vụ khám "
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Phòng khám"
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Bác sĩ "
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Chẩn đoán ban đầu"
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Ghi chú"
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
              <div class="field pb-0 col-6 pl-0 pr-2">
                <input class="w-full p-inputtext-sm text-base" pInputText formControlName="visitReason" placeholder="Lý do khám"
                  required autofocus #nextTab />
                <div class="m-error"
                  *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
                  <span>Bạn chưa nhập lý do khám</span>
                </div>
              </div>
            </div>
            <div class="row-form">
              <div class="cursor-pointer mg-bt-10" (click)="vitalInfoCollapse()">
                Thông tin sinh tồn
                <i class="mgl10"
                  [ngClass]="{'pi pi-caret-down': vitalSignCollapse, 'pi pi-caret-right': !vitalSignCollapse}"></i>
              </div>
              <div *ngIf="vitalSignCollapse">
                <div class="vital-sign-info">
                  <div class="vital-sign-row">
                    <div class="col-12 vital-sign-col">
                    <div class="label">Mạch</div>
                    <input class="w-full p-inputtext-sm text-base" #nextTab pInputText formControlName="heartBeat" type="number"
                      placeholder="lần/phút" />
                    </div>
                  </div>
                  <div class="vital-sign-row row">
                    <div class="col-6 vital-sign-col">
                      <div class="label">Nhiệt độ</div>
                      <input class="w-full p-inputtext-sm text-base" #nextTab pInputText formControlName="temperature"
                        type="number" placeholder="Nhiệt độ" />
                    </div>
                    <div class="col-6 vital-sign-col">
                      <div class="label">SpO2</div>
                      <input class="w-full p-inputtext-sm text-base" #nextTab pInputText formControlName="spo2" type="number"
                        placeholder="SpO2" />
                    </div>
                  </div>
                  <div class="vital-sign-row">
                    <div class="col-12 vital-sign-col">
                    <div class="label">Huyết áp</div>
                    <input class="w-full p-inputtext-sm text-base" #nextTab class="w-100px mgr10" pInputText
                      formControlName="bloodPressureMax" type="number" placeholder="max" />
                    <input class="w-full p-inputtext-sm text-base" #nextTab class="w-100px mgl10" pInputText
                      formControlName="bloodPressureMin" type="number" placeholder="min" />
                    </div>
                  </div>
                  <div class="vital-sign-row row">
                    <div class="col-6 vital-sign-col">
                      <div class="label">Chiều cao</div>
                      <input class="w-full p-inputtext-sm text-base" #nextTab pInputText formControlName="height" type="number"
                        placeholder="cm" />
                    </div>
                    <div class="col-6 vital-sign-col">
                      <div class="label">Cân nặng</div>
                      <input class="w-full p-inputtext-sm text-base" #nextTab pInputText formControlName="weight" type="number"
                        placeholder="kg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </p-tabPanel>
    </p-tabView>
       
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Lưu" icon="pi pi-save" class="p-button-text" (click)="onSave()"></button>
    </ng-template>
    <ng-template pTemplate="content" #containerRight>
        <p-table 
    [value]="caseStudy" 
    [columns]="cols"
    [resizableColumns]="true" 
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    styleClass="p-datatable-gridlines" 
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
</p-table>
    </ng-template>
    <!-- <p-dialog [(visible)]="visibleDuplicate" [style]="{width: '600px'}" [header]="'Danh sách bệnh nhân trùng lặp'"
        [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <p-table [value]="listDuplicate" responsiveLayout="scroll" selectionMode="single"
                [(selection)]="selectedDuplicate" styleClass="p-datatable-xs p-datatable-gridlines" [rowHover]="true"
                [dataKey]="'id'">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem" class="text-center">STT</th>
                        <th style="width: 10rem">Tên bệnh nhân</th>
                        <th style="width: 8rem">Mã bệnh nhân</th>
                        <th style="width: 8rem">CMND</th>
                        <th>Lý do trùng</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="item">
                        <td class="text-center">{{rowIndex+1}}</td>
                        <td>{{item['patientsName']}}</td>
                        <td>{{item['patientCode']}}</td>
                        <td>{{item['cmnd']}}</td>
                        <td>{{item['type']}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Vẫn tiếp tục thêm" class="p-button-sm mr-2 p-button-info"
                (click)="createPatient(false)"></button>
            <button [disabled]="!selectedDuplicate?.id" pButton pRipple label="Áp dụng" class="p-button-sm"
                (click)="onUseDuplicate()"></button>
        </ng-template>
    </p-dialog> -->

<ng-template #containerRight>34123432</ng-template>