<div class="grid">
    <div class="col-12 p-0">
      <div class="card admin-content m-0">
        <!-- Start: Breakcrum page Danh sách User -->
        <!-- <p-breadcrumb [model]="breadcrumbItem" [home]="breadcrumbHome" styleClass="breadcrumb-admin"></p-breadcrumb> -->
        <!-- End: Breakcrum page Danh sách User -->
  
        <div class="my-2 flex justify-content-between flex-wrap">
          <!-- <span class="block p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Tìm kiếm theo tên hoặc tài khoản"
              class="inline-block lg:w-17rem sm:w-auto p-inputtext-sm" [(ngModel)]="searchData.user"
              (keydown.enter)="search()" />
            <button pButton pRipple icon="pi pi-search" class="p-button-primary mr-2 ml-2 p-button-sm"
              (click)="search()"></button>
            <button pButton pRipple icon="pi pi-times" class="p-button-secondary p-button-sm"
              (click)="resetSearch()"></button>
          </span> -->
          <div class="flex justify-content-end flex-wrap">
            <button pButton pRipple label="Tạo tài khoản" icon="pi pi-plus" class="p-button-success p-button-sm"
              (click)="onCreatUser()"></button>
          </div>
        </div>
        <m-table [isLazyLoad]="true" [cols]="cols" [items]="users" [take]="searchData.take"
          (selectRow)="selectUser($event)" [customBodyTemplate]="customBodyTemplate"
          [customHeaderTemplate]="customHeaderTemplate" [calcHeight]="350"
          [totalRecords]="total" [dataKey]="'id'" [loading]="loading" class="table-admin"> </m-table>
        <ng-template #customHeaderTemplate>
          <th *ngFor="let col of cols; let i = index">{{ col['header'] }}</th>
          <th  class="flex c-center">Action</th>
          <!-- <th   pFrozenColumn alignFrozen="right" class="flex c-center">Action</th> -->
        </ng-template>
        <ng-template #customBodyTemplate let-rowData>
          <td [style.minWidth]="col.width" *ngFor="let col of cols">
            {{ rowData[col['field']] }}
          </td>
          <td  class="text-center flex justify-content-center" pFrozenColumn alignFrozen="right">
            <!-- <button pButton pRipple icon="pi pi-check"
              class="p-button-rounded p-button-warning p-button-outlined p-button-xs mr-2"
              (click)="onActive(rowData)"></button> -->
            <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-xs mr-2"
              (click)="onEditUser(rowData)"></button> -->
            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-success p-button-xs mr-2"
              (click)="onDeleteUser(rowData)"></button>
            <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-button-xs"
              (click)="onDeleteItem(rowData)"></button> -->
          </td>
        </ng-template>
      </div>
      <!-- thêm user -->
      <p-dialog [(visible)]="isVisibleUserDialog" [style]="{ width: '600px','z-index': 1100,height:'600px'}" [header]="userDialogHeader" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
          <form [formGroup]="usersForm">
            <div class="field">
              <label><span class="text-red-500">*</span><strong>Họ và tên</strong></label>
              <input type="text" pInputText placeholder="Họ và tên..." formControlName="fullName" required autofocus />
              <div class="m-error" *ngIf="usersForm.controls['fullName'].invalid && usersForm.controls['fullName'].dirty">
                *Họ và tên không được để trống</div>
            </div>
            
            <div class="field">
              <label><span class="text-red-500">*</span><strong>Tên đăng nhập</strong></label>
              <input type="text" pInputText placeholder="Tên đăng nhập..." formControlName="user" required
                autocomplete="new-user" autofocus />
                <div *ngIf="usersForm.controls['user'].invalid && usersForm.controls['user'].dirty && usersForm.controls['user'].touched">
                <div class="m-error" *ngIf="usersForm.controls['user'].hasError('required')">*user không được để trống </div>
                
                <div class="m-error" *ngIf="usersForm.controls['user'].hasError('user')">*user đã tồn tại</div>
  
               
              </div>
              <!-- <div class="m-error">
                {{ userErrorMessage(usersForm) }}
              </div> -->
            </div>
  
            <div class="field">
              <label><span class="text-red-500">*</span><strong>Mật khẩu</strong></label>
              <input type="password" pInputText placeholder="Mật khẩu..." formControlName="password" required autofocus
                autocomplete="new-password" />
              <div class="m-error" *ngIf="usersForm.controls['password'].invalid && usersForm.controls['password'].dirty">
                *Mật khẩu không được để trống và từ 6 ký tự trở lên</div>
            </div>
            <div class="field">
              <label for="role"><span class="text-red-500">*</span><strong>Vai trò</strong></label>
              <p-dropdown
                [options]="role"
                formControlName="role"
                optionLabel="roleName" optionValue="roleId"
                placeholder="Chọn vai trò">
              </p-dropdown>
            </div>
            
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text text-red-600" (click)="isVisibleUserDialog = false"></button>
          <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
        </ng-template>
      </p-dialog>
      <!-- sửa thông tin user -->
      <!-- <p-dialog [(visible)]="isVisibleUserEdit" [style]="{ width: '450px' }" [header]="userDialogHeader" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
          <form [formGroup]="usersFormEdit">
            <div class="field">
              <label><span class="text-red-500">*</span><strong>Họ và tên</strong></label>
              <input type="text" pInputText placeholder="Họ và tên..." formControlName="fullname" autofocus />
              <div class="m-error"
                *ngIf="usersFormEdit.controls['fullname'].invalid && usersFormEdit.controls['fullname'].dirty">
                <i>*Họ tên không được để trống</i>
              </div>
            </div>
            <div class="field">
              <label><strong>user</strong></label>
              <input type="text" pInputText placeholder="User name" formControlName="user" autofocus />
              <div class="m-error"
                *ngIf="usersFormEdit.controls['user'].invalid && usersFormEdit.controls['user'].dirty">
                <i>*user không được để trống</i>
              </div>
            </div>
            <div class="field">
              <label>Enable</label>
              <p-inputSwitch formControlName="enable"></p-inputSwitch>
            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Đóng" icon="pi pi-times" class="p-button-text text-red-600" (click)="isVisibleUserEdit = false"></button>
          <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text" (click)="saveItemEdit()"></button>
        </ng-template>
      </p-dialog> -->
      <!-- <confirm-dialog [(visible)]="isVisibleDeleteUserDialog" [confirmText]="textDeleteUser"
        [confirmLabel]="confirmLabelDelete" (onClose)="cancelDelete()" (onConfirm)="deleteUser()"
        (onCancel)="cancelDelete()"></confirm-dialog> -->
      <!-- confirm disable 
      <confirm-dialog [(visible)]="isVisibleDisableUserDialog" [confirmText]="textConfirmDisableUser"
        [confirmLabel]="confirmLabelDisable" (onClose)="cancelDisable()" (onConfirm)="disableUser()"
        (onCancel)="cancelDisable()"></confirm-dialog>
  confirm enable 
      <confirm-dialog [(visible)]="isVisibleEnableUserDialog" [confirmText]="textConfirmEnableUser"
          [confirmLabel]="confirmLabelEnable" (onClose)="cancelEnable()" (onConfirm)="enableUser()"
          (onCancel)="cancelEnable()"></confirm-dialog>-->
     
    </div>
  </div>