.node-active {
    color: #000000d9;
    background-color: #e6f7ff;
  }
  
  .node-child {
    padding-left: 10px;
  }
  
  .node-root {
    font-weight: 500;
  }
  
  .node-item {
    padding: 3px 7px;
    cursor: pointer;
  }
  
  .node-select:hover {
    color: #000000d9;
    background-color: #e6f7ff;
  }
  
  .tree-select {
    padding: 3px;
    background: #fff;
  }
  
  .icon-expand {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 11px;
  }
  