<div class="grid">
    <div class="col-12 p-0">
        <div class="card admin-content m-0">
            <div class="my-2 flex flex-wrap">
                <div class="flex justify-content-end align-items-center flex-1">
                    <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-button-sm"
                        (click)="onCreateItem()"></button>
                </div>
            </div>
            <m-table [isLazyLoad]="true" [totalRecords]="total" [cols]="cols" [items]="listCDHA"
                (onDeleteItem)="onDelete($event)" (selectRow)="selectRow($event)" [dataKey]="'id'"
                [customHeaderTemplate]="customHeaderTemplate" [customBodyTemplate]="customBodyTemplate"
                [loading]="loading" class="table-admin" [calcHeight]="330"></m-table>

            <ng-template #customHeaderTemplate>
                <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width'] || '12rem'">
                    {{col['header']}}
                </th>
                <th pFrozenColumn alignFrozen="right" class="flex c-center"> Action</th>
            </ng-template>
            <ng-template #customBodyTemplate let-rowData>
                <td [style.minWidth]="col.width || '12rem'" *ngFor="let col of cols">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'dateCreate'">
                            {{ rowData[col["field"]] | date:'dd/MM/yyyy'}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{ rowData[col["field"]] }}
                        </ng-container>
                    </ng-container>
                </td>
                <td [style.minWidth]="'6rem'" class="text-center flex justify-content-center " pFrozenColumn
                    alignFrozen="right">
                    <button pButton pRipple icon="pi pi-pencil"
                        class="p-button-rounded p-button-xs mr-2"
                        (click)="onEdit(rowData)"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-success p-button-xs mr-2"
                        (click)="onDelete(rowData)"></button>
                </td>
            </ng-template>
        </div>
    </div>
</div>

<!-- Dialog for Create/Edit CDHA -->
<p-dialog [(visible)]="createEditItemPopupData.isVisibleDialog" [style]="{ width: '600px', height: '400px', 'z-index': 1100 }"
    [header]="createEditItemPopupData.isEdit ? 'Chỉnh sửa chỉ định hình ảnh' : 'Thêm chỉ định hình ảnh mới'" [modal]="true" class="p-fluid">
    <form [formGroup]="formGroup">
        <div class="p-field">
            <label for="cdhaName">Tên</label>
            <input id="cdhaName" type="text" pInputText formControlName="cdhaName" />
        </div>
        <div class="p-field">
            <label for="dateCreate">Ngày tạo</label>
            <input id="dateCreate" type="date" pInputText formControlName="dateCreate" />
        </div>
        <div class="p-field">
            <label for="timeEstimate">Thời gian thực hiện</label>
            <input id="timeEstimate" type="text" pInputText formControlName="timeEstimate" />
        </div>
        <div class="p-field">
            <label for="price">Giá</label>
            <input id="price" type="text" pInputText formControlName="price" />
        </div>
    </form>
    <p-footer>
        <button pButton label="Lưu" icon="pi pi-check" (click)="saveItem()"></button>
        <button pButton label="Hủy" icon="pi pi-times" class="p-button-secondary" (click)="createEditItemPopupData.isVisibleDialog=false"></button>
    </p-footer>
</p-dialog>

<!-- Dialog for Delete Confirmation -->
<p-dialog [(visible)]="isVisible" [style]="{ width: '350px', 'z-index': 1100 }" [header]="'Xác nhận'" [modal]="true" class="p-fluid">
    <p>{{ textDelete }}</p>
    <p-footer>
        <button pButton label="Xóa" icon="pi pi-times" class="p-button-danger" (click)="deleteUser()"></button>
        <button pButton label="Hủy" icon="pi pi-times" class="p-button-secondary" (click)="isVisible=false"></button>
    </p-footer>
</p-dialog>
