* {
    margin: 0;
   }
   nav{
    height:70px;
    background-color: green;
   }
   .container{
    display: flex;
    height: calc(100vh - 70px);
   }
   .container .main-body{
    width: 100%;
   }
   .container aside{
     width: 0;
     overflow-y: auto;
     transition: all 0.5s;
     background-color: rgb(177, 185, 202);
   }
   /*Im using hover event to expand sidebar for example, you can use JS to handle click event*/
   .container aside.expanding{
     width: 200px;
   }
   .layout-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
   }
   .layout-menuitem-root-text {
    float: none;
    color: black;
   }
    a {
    display: block;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover {
    background-color: #f0e9e9;
  }