<div class="layout-wrapper" [ngClass]="containerClass">
    <div class="layout-topbar">
        <a class="layout-topbar-logo" routerLink="">
            <span>SAKAI</span>
        </a>

        <p-button (click)="toggleSideBar()" [icon]="isExpanding ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"></p-button>
        <div #topbarmenu class="layout-topbar-menu">
            <!-- <button class="p-link layout-topbar-button">
                <i class="pi pi-calendar"></i>
                <span>Calendar</span>
            </button> -->
            <button (click)="logOut()" class="p-link layout-topbar-button">
                <i class="pi pi-user"></i>
                <span>Đăng xuất</span>
            </button>
            <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
                <i class="pi pi-cog"></i>
                <span>Settings</span>
            </button> -->
        </div>
    </div>
    <div class="layout-sidebar" [ngClass]="{ 'expanding': isExpanding, 'hidden': !isSidebarHidden }">
        <section class="container" style="margin-top: 35px">
            <aside class="aside" [ngClass]="{ expanding: isExpanding }" #asideElement>
                
                    <ul class="layout-menu" style="margin-top: 15px; padding: 10px 10px">
                        <li *ngIf="hasRole('nurse')" class="sideicon menu-item menu-item-flex" style="border-style: dashed; border-width: 0 0 1px 0; border-color: white" (click)="openNewTab('ListVisit', 'Danh sách ca khám', 'main')">
                            <span>Danh sách ca khám</span>
                        </li>
                        <li *ngIf="hasRole('Doctor')" class="sideicon menu-item menu-item-flex" (click)="openNewTab('ListCaseStudy','Ca khám bác sĩ', 'extra')">
                            <span>Ca khám bác sĩ</span>
                        </li>
                    </ul>
            </aside>
        </section>
    </div>
    <div class="layout-main-container" [ngClass]="{ 'sidebar-hidden': !isSidebarHidden }">
        <div class="layout-main">
            <p-tabView #tabView [activeIndex]="indexTab" class="tab-mainwork" [scrollable]="true" (onChange)="onTabChange($event)">
                <p-tabPanel *ngFor="let tab of tabs; let i = index" [header]="tab.name" [selected]="indexTab === i" [ngClass]="{'tab-active': indexTab === i}">
                    <ng-template pTemplate="header">
                        <div class="fs-16" *ngIf="tab.tabType == 'main'">
                            {{ tab.name }}
                        </div>
                        <div class="fs-16" *ngIf="tab.tabType == 'extra'">
                            {{ tab.name }}
                            <span class="tab-action">
                                <i class="pi pi-times" (click)="closeTab(tab)"></i>
                            </span>
                        </div>
                    </ng-template>
                    <div class="h-full w-full worklist-container" *ngIf="tab.id == 'ListVisit'">
                        <app-list-visit ></app-list-visit>
                    </div>
                    <div *ngIf="tab.id == 'AddPatient'">
                        <app-add-patient (patientAdded)="onPatientAdded($event)"></app-add-patient>
                    </div>
                    <!-- <div *ngIf="tab.id == 'ListPatient'">
                        <app-list-patient></app-list-patient>
                    </div> -->
                    <div *ngIf="tab.id == 'ListCaseStudy'">
                        <app-list-case-study></app-list-case-study>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>
