* {
  margin: 0;
}

nav {
  height: 70px;
  background-color: green;
}

.container {
  display: flex;
  height: calc(100vh - 70px);
}
.sidebar.expanding {
  transform: translateX(0); /* Di chuyển sidebar ra khỏi vị trí ban đầu */
}
.layout-sidebar.expanding{
  width: 300px;
}
.content-wrapper {
  margin-left: 0; /* Không có margin khi sidebar được mở rộng */
}
.aside {
  width: 300px;
  min-height: calc(100vh - 6rem);
  z-index: 999;
  overflow-y: auto;
  -webkit-user-select: none;
  user-select: none;
  top: 5rem;
  left: 1rem;
  transition: transform .2s, left .2s;
  background-color: var(--surface-overlay);
  border-radius: 12px;
  padding: .5rem 1.5rem;
  box-shadow: 0 3px 5px #00000005;
}

.container .main-body {
  width: 100%;
}

.container aside {
  width: 0;
  overflow-y: auto;
  transition: all 0.5s;
  background-color: rgb(177, 185, 202);
}
.main-work{
  display: flex;
}

/*Im using hover event to expand sidebar for example, you can use JS to handle click event*/
.container aside.expanding {
  width: 300px;
}

.layout-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-menuitem-root-text {
  float: none;
  color: black;
}

a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #f0e9e9;
}
/* 
.router-outlet {
  position: relative;
  left: 250px; 
  transition: all ease-in-out 0.3s;
} */

.sidebar.expanding .router-outlet {
  left: 0; /* Khi sidebar mở, `router-outlet` sẽ nằm ở vị trí 0 */
}

.content-wrapper {
  display: flex;
  flex: 1;
}
.tab-mainwork {
  padding: 8px; 

  .p-tabview {
    overflow: initial;
  }

  .p-tabview-nav {
    margin-bottom: 0px;
    border-bottom: none;

    .p-tabview-nav-content {
      display: flex;
      flex-wrap: nowrap;
    }

    .p-tabview-nav-link {
      color: var(--his-font-cl);
      background-color: #d9dde7;
      padding: 5.5px 35px 5.5px 8px;
      position: relative;

      &.p-highlight {
        color: var(--his-primary) !important;
        background-color: white;
        border-bottom-color: white;

        .p-tabview-nav-title {
          color: var(--his-primary) !important;
          font-weight: 400;
        }
      }

      &:hover {
        background-color: white;
        color: var(--his-primary) !important;
      }

      .tab-action {
        position: absolute;
        right: 0px;
        top: 0px;
      }

      .pi-times {
        margin-right: 12px;
        position: absolute;
        top: 4px;
        right: 0px;
        width: 13px;
        height: 13px;
      }
    }
  }

  .p-tabview-title {
    &:focus {
      color: var(--his-font-cl);
    }
  }
}
.layout-sidebar {
  width: 300px;
  transition: transform 0.3s ease;
}

.layout-sidebar.hidden {
  transform: translateX(-300px);
}

.layout-main-container {
  transition: margin-left 0.3s ease;
  margin-left: 300px;
}

.layout-main-container.sidebar-hidden {
  margin-left: 0;
}
