   <div class="h-full w-full worklist-container" direction="vertical" [formGroup]="patientForm">
            <div class="grid mx-0 p-1">
                <div class="field pb-0 col-6 pl-0 pr-2">
                    <input formControlName="patientName" pInputText type="text" placeholder="Tên bệnh nhân*"
                        class="w-full p-inputtext-sm text-base" />
                    <div class="m-error"
                        *ngIf="patientForm.controls['patientName'].invalid && patientForm.controls['patientName'].dirty">
                        *Tên bệnh nhân không được để trống
                    </div>
                </div>
                <div class="field pb-0 col-6 pl-2 pr-0">
                    <input formControlName="patientCode" pInputText type="text" placeholder="Mã bệnh nhân*"
                        class="w-full p-inputtext-sm text-base" />
                    <div class="m-error"
                        *ngIf="patientForm.controls['patientCode'].invalid && patientForm.controls['patientCode'].dirty">
                        *Mã bệnh nhân không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-0 pr-2" >
                    <p-dropdown formControlName="sex" optionLabel="label" optionValue="value" 
                        [options]="GENDERS" placeholder="Giới tính*" [showClear]="true"  [ngStyle]="{'width': '100%'}">
                    </p-dropdown>
                    <div class="m-error"
                        *ngIf="patientForm.controls['sex'].invalid && patientForm.controls['sex'].dirty">
                        *Giới tính không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-2">
                    <p-calendar formControlName="dob" placeholder="Năm sinh*"  [showIcon]="true"  [showOnFocus]="false"   inputId="buttondisplay" />

                    <div class="m-error"
                        *ngIf="patientForm.controls['dob'].invalid && patientForm.controls['dob'].dirty">
                        *Năm sinh không được để trống
                    </div>
                </div>
                <div class="field py-0 col-4 pl-0 pr-0">
                    <input formControlName="phone" pInputText type="text" placeholder="Số điện thoại"
                        class="w-full p-inputtext-sm text-base" />
                </div>
                <div class="field py-0 col-12 pl-0 pr-0">
                    <input formControlName="address" pInputText type="text" placeholder="Địa chỉ"
                        class="w-full p-inputtext-sm text-base" />
                </div>
               
       
            </div>
            <div class="col-3 pr-0 pl-2 pb-0">
                <button pButton pRipple label="Thêm bệnh nhân" icon="pi pi-plus" class="bg-green-500 p-button-sm"
                  (click)="addPatient()"></button>
              </div>
        </div>