<!-- <div class="col-5 col-offset-1 relative z-1 text-center mt-10rem p-8 login-input">
  <img class="relative mx-4 pt-6 h-10rem w-24rem login-logoPMR" src="assets/images/logo-PMRDPS.png"/>
  <div [formGroup]="loginForm">

      <div class="col-8 m-auto mt-6 w-23rem login-inp-btn-password">

        <div #notify_login class=" text-base inp-login" style="color: #ff5757;">
        </div>

      <div class="field Smt-6 mb-6 mt-2">
        <input type="text" placeholder="Tên đăng nhập" pInputText formControlName="username"
          (keydown.enter)="login()" class="w-full border-round-4xl border-500 p-4 h-3rem text-base ">
        <div class="m-error text-sm inp-login ml-4"
          *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].dirty">
          *Vui lòng nhập tên đăng nhập
        </div>
      </div>

      <div class="field Smt-6 mb-4 mt-4 ">
        <p-password [feedback]="false" [toggleMask]="true" formControlName="password" inputId="password"
          (keydown.enter)="login()"  styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
          placeholder="Mật khẩu" inputStyleClass=" border-500 p-4 h-3rem border-round-4xl text-base">
        </p-password>
        <div style="display: block;">
            <div class="m-error text-sm inp-login ml-4" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
              *Vui lòng nhập mật khẩu
            </div>
            <div #notify_login class="m-error text-sm inp-login ml-4">
            </div> -->
        <!-- </div>
      </div>

      <button  pRipple type="button" (click)="login()"
        class="w-full border-none border-round-4xl cursor-pointer
          h-3rem bg-orange-500 text-white hover:bg-orange-400 flex align-items-center justify-content-center text-base mt-6 btn-login">
        <i  class="pi pi-spin pi-spinner mr-1" style="font-size: 1rem;"></i>
        Đăng nhập
      </button>
    </div>
  </div> --> 

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
                     
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                  <h1 class="text-center mb-4">Hello, Welcome</h1>
                </div>
                <div [formGroup]="loginForm">

                  <div class="col-8 m-auto mt-6 w-23rem login-inp-btn-password">
            
                    <div #notify_login class=" text-base inp-login" style="color: #ff5757;">
                    </div>
            
                  <div class="field Smt-6 mb-6 mt-2">
                    <input type="text" placeholder="Tên đăng nhập" pInputText formControlName="username"
                      (keydown.enter)="login()" class="w-full border-round-4xl border-500 p-4 h-3rem text-base ">
                    <div class="m-error text-sm inp-login ml-4"
                      *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].dirty">
                      *Vui lòng nhập tên đăng nhập
                    </div>
                  </div>
            
                  <div class="field Smt-6 mb-4 mt-4 ">
                    <p-password [feedback]="false" [toggleMask]="true" formControlName="password" inputId="password"
                      (keydown.enter)="login()"  styleClass="w-full p-password p-component p-inputwrapper p-input-icon-right"
                      placeholder="Mật khẩu" inputStyleClass=" border-500 p-4 h-3rem border-round-4xl text-base">
                    </p-password>
                    <div style="display: block;">
                        <div class="m-error text-sm inp-login ml-4" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].dirty">
                          *Vui lòng nhập mật khẩu
                        </div>
                        <!-- <div #notify_login class="m-error text-sm inp-login ml-4">
                        </div> -->
                    </div>
                  </div>
            
                  <button  pRipple type="button" (click)="login()"
                    class="w-full border-none border-round-4xl cursor-pointer
                      h-3rem bg-orange-500 text-white hover:bg-orange-400 flex align-items-center justify-content-center text-base mt-6 btn-login">
                    <!-- <i  class="pi pi-spin pi-spinner mr-1" style="font-size: 1rem;"></i> -->
                    Đăng nhập
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>