<div class="h-full w-full worklist-container" direction="vertical">
  <div class="grid w-full m-0">
    <div class="w-full">
      <span class="block font-bold text-primary-color pt-2">
        <ng-container>Danh sách chỉ định:</ng-container> {{ totalCaseStudies }} kết quả
      </span>
    </div>
    <div>
      <div class="flex justify-content-end">
        <input pInputText type="text" placeholder="Tên bệnh nhân" title="Tên bệnh nhân"
          class="text-base p-inputtext-sm mr-2 border-round-3xl pl-3" [(ngModel)]="searchData.patientName"
          (keydown.enter)="onModelChangeSearchData()" />
        <p-calendar [showClear]="true" [showButtonBar]="true" [dateFormat]="'dd/mm/yy'" placeholder="Lọc từ ngày"
          [(ngModel)]="searchData.from" (ngModelChange)="onModelChangeSearchData()" [showIcon]="false" appendTo="body"
          [dateFormat]="'dd/mm/yy'" inputStyleClass="mr-2 border-round-3xl pl-3"></p-calendar>
        <p-calendar [showClear]="true" [showButtonBar]="true" placeholder="Lọc đến ngày" [(ngModel)]="searchData.to"
          (ngModelChange)="onModelChangeSearchData()" [showIcon]="false" appendTo="body" [dateFormat]="'dd/mm/yy'"
          inputStyleClass="mr-2 border-round-3xl  pl-3"></p-calendar>
        <button pButton pRipple type="button" icon="pi pi-delete-left"
          class="flex-none ml-2 text-2xl p-button-danger font-bold p-button-rounded" (click)="onResetSearchData()"
          title="Xóa lọc"></button>
      </div>
    </div>
    <div class="col-12 py-0 px-3 w-full ">
    </div>
  </div>
</div>
<p-contextMenu #menu styleClass="w-16rem" [model]="actions"></p-contextMenu>
<div class="col-12 py-0 px-3 w-full">
  <p-table 
    [value]="listCDHA" 
    [paginator]="true" 
    [rows]="40" 
    [totalRecords]="total"
    [lazy]="true"
    [loading]="loading"
    [rowsPerPageOptions]="[40, 60, 80]"
    [scrollable]="true"
    [scrollHeight]="'calc(100vh - ' + 330 + 'px)'"
    [selectionMode]="'single'"
    [(selection)]="selectedRow"
    (onRowSelect)="selectRow($event)"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [style.minWidth]="col.width || '12rem'">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of cols" [style.minWidth]="col.width || '12rem'">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'dateCreate'">
              {{ rowData[col.field] | date: 'dd/MM/yyyy HH:mm' }}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ rowData[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">Không có dữ liệu.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
