<p-toast [position]="position" [key]="key" [baseZIndex]="5000"
  [showTransformOptions]="'translateX(100%)'" [hideTransformOptions]="'translateX(-100%)'">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
        <div class="grid p-fluid">
            <div class="col-2 flex align-center">
              <i class="pi pi-bell" style="font-size: 2rem"></i>
            </div>
            <div class="col-10">
              <div class="font-bold" style="font-size: 1.25rem">{{message.summary}}</div>
              <p>{{message.detail}}</p>
            </div>
        </div>
      </div>
  </ng-template>
</p-toast>