<div class="p-fluid card" style="border-top: 0px; overflow: auto; padding: 10px">
    <div class="p-grid p-mb-2 pb-2">
      <div class="p-col-12 p-md-4 pb-2 info-label">Triệu chứng lâm sàng</div>
      <div class="p-col-12 p-md-8 input-container">
        <input pInputText [disabled]="disabledEditInfo" [(ngModel)]="visit.clinicalInfomation"
          (ngModelChange)="onTypingClinicalInfo($event)">
        <i class="pi pi-save save-icon" pTooltip="Lưu" (click)="clickTosaveVisitInfo('clinicalInfomation')"></i>
      </div>
      
    </div>
    <div class="p-grid p-mb-2 pb-2">
      <div class="p-col-12 p-md-4 pb-2 info-label">Chẩn đoán ban đầu</div>
      <div class="p-col-12 p-md-8 input-container">
        <input pInputText [disabled]="disabledEditInfo" autoResize [(ngModel)]="visit.diagnoseInit"
          (ngModelChange)="onTypingDiagnoseInit($event)">
        <i class="pi pi-save save-icon" pTooltip="Lưu" (click)="clickTosaveVisitInfo('diagnoseInit')"></i>
      </div>
    </div>
    <div class="p-grid p-mb-2 pb-2">
      <div class="p-col-12 p-md-4 pb-2 info-label">Kết luận của BS</div>
      <div class="p-col-12 p-md-8 input-container">
        <input pInputText [disabled]="disabledEditInfo" autoResize [(ngModel)]="visit.conclusion"
         >
        <i class="pi pi-save position-absolute save-icon" pTooltip="Lưu" (click)="clickTosaveVisitInfo('conclusion')"></i>
      </div>
    </div>
    <div class="p-grid p-mb-2">
      <div class="p-col-12 p-md-4 info-label pb-2">Chỉ định CLS</div>
      <div class="p-col-12 p-md-8 button-container" >
        <p-dropdown [disabled]="disabledEditInfo" [options]="subOrderSource" [(ngModel)]="filterSubItem"
          placeholder="Tìm kiếm để thêm..." [filter]="true" [showClear]="true" appendTo="body" (onChange)="addSubOrder($event)">
          <ng-template let-sub pTemplate="selectedItem">
            <!-- <span>{{ hienGiaDichVuChiDinh }}</span> -->
          </ng-template>
          <ng-template let-sub pTemplate="item">
            <span>{{ sub.name }}</span>
          </ng-template>
        </p-dropdown>
        <button pButton label="CĐHA" [disabled]="disabledEditInfo" class="ml-1" (click)="showModalAddSubOrder(rosConstant.Imaging)"></button>
        <!-- <button pButton label="Xét nghiệm" [disabled]="disabledEditInfo" class="ml-1" (click)="showModalAddSubOrder(rosConstant.Laboratory)"></button>
        <button pButton label="Nhóm" [disabled]="disabledEditInfo" class="ml-1" (click)="showModalSubOrderGroup()"></button>
        <button pButton label="DV khám thêm" [disabled]="disabledEditInfo" class="ml-1" (click)="showAddService()"></button> -->
        <button pButton label="Thông tin khác" [disabled]="disabledEditInfo" class="ml-1" (click)="showVisitOtherInfo()"></button>
      </div>
    </div>
    <div class="p-grid p-mb-2">
      <div class="p-col-12" [ngClass]="{'p-col-8': isShowRelatedVisit, 'p-col-12': !isShowRelatedVisit}">
        <p-table [value]="subClinicalVisit" [paginator]="false" [rows]="10" class="p-datatable-sm p-datatable-gridlines" >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 40px">STT</th>
              <th>Dịch vụ</th>
              <th>Trạng thái</th>
              <th>Người tạo</th>
              <th>T/gian tạo</th>
              <th class="text-align-center">SL</th>
              <th class="text-nowrap" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">Đơn giá</th>
              <th class="text-nowrap" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">Thành tiền</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr [ngClass]="{'coral': data.discount > 0, 'td-italic': data.isOtherVisit}" [title]="data.discount" >
              <ng-container >
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.statusString }}</td>
                <td>{{ data.creatorName }}</td>
                <td>{{ data.createdDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td class="text-align-center">
                  <div *ngIf="!data.isEditing" class="btn-amount" (click)="switchStatus(data)">
                    {{ data.amount }}
                  </div>
                  <div *ngIf="data.isEditing" class="btn-amount">
                    <input pInputText type="number" min="1" [(ngModel)]="data.amount" (blur)="updateAmount($event, data.id)" />
                  </div>
                </td>
                <td class="text-nowrap text-right" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">
                  {{ data.price  }}
                </td>
                <td class="td-into-money" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">
                  {{ data.finalFee }}
                </td>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- <div *ngIf="isShowRelatedVisit" class="p-col-4">
        <p-table [value]="lstRelatedVisitDisplay" [paginator]="false" [rows]="10" class="p-datatable-sm p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ visit.refVisitId ? 'Các ca khám liên quan' : 'Dịch vụ khám thêm' }}</th>
              <th class="text-nowrap" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">Giá tiền</th>
              
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr (click)="openRelatedVisit(data)">
              <td>
                <div>{{ data.serviceName }}</div>
                <div class="italic fs-12">{{ data.doctorName }}</div>
              </td>
              <td class="text-nowrap text-right" [ngClass]="{'d-none':!hienGiaDichVuChiDinh}">{{ data.servicePrice }}</td>
              <td class="text-center">
                <p-checkbox *ngIf="!data.isDisabled" [(ngModel)]="data.notPrint" (onChange)="notPrintChildChange2($event)"></p-checkbox>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div> -->
    </div>
  </div>
  
   <app-add-cls [(isVisible)]="showAddSubOrder" [visitId]="visit.id" [rosIdSelected]="rosIdSelected"
   [subClinicalVisit]="subClinicalVisitModal" 
   (refreshData)="loadData(); titleTabChange()" (cancelModal)="cancelModalAddSubOrder()"
 ></app-add-cls>