<div class="addVisit" [formGroup]="formAddVisit">
    <div style="margin-top: 12px">
      <div class="row row-form">
        <div class="col-md-6">
          <input pInputText formControlName="visitReason" placeholder="Lý do khám" required autofocus #nextTab />
          <div class="m-error" *ngIf="formAddVisit.controls['visitReason'].invalid && formAddVisit.controls['visitReason'].dirty">
            <span>Bạn chưa nhập lý do khám</span>
          </div>
          <!-- <div class="message-required" *ngIf=" visitFormCtrl.visitReason.errors">
            <div *ngIf="visitFormCtrl.visitReason.errors.required || visitFormCtrl.visitReason.hasError('whitespace')">
           
              <span>Bạn chưa nhập lý do khám</span>
            </div>
            
          </div> -->
        </div>
        <div class="col-md-6">
          <p-calendar formControlName="visitDate" [showTime]="true" [showIcon]="true" appendTo="body" placeholder="Thời gian tạo*"
          inputStyleClass="w-full p-inputtext-sm text-base" [dateFormat]="'dd/mm/yy'"></p-calendar>
          <div class="m-error" *ngIf="formAddVisit.controls['visitDate'].invalid && formAddVisit.controls['visitDate'].dirty">
            <span>Bạn chưa nhập ngày khám</span>
          </div>
        </div>
      </div>
      <div class="row row-form">
        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row row-form">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row row-form">
        <div class="col-md-6">
          <input  placeholder="Chẩn đoán ban đầu" #nextTab />
        </div>
        <div class="col-md-6">
          <input  placeholder="Ghi chú" #nextTab />
        </div>
      </div>